body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
main{
  font-size: 2rem;
  text-align: center;
  margin: auto;
  color: rgb(203, 34, 34);
  width:max-content;
  
}
h1{
  background-color: rgb(129, 253, 41);
  background-color: lightgrey;
  width: 900px;
  /* height: 300px; */
  border: 5px solid green;
  padding: 25px;
  margin: 50px;
  border-radius: 10px;
}
.nav{
  display: flex;
  align-content: space-around;
  background-color: rgb(181, 234, 252);
  
}

h4{
  font-family: Georgia;
  margin:2rem;
  width:max-content;
  font-size: 1.5rem;
  cursor: pointer;
  color: rgb(8, 6, 6);
}

a{
  text-decoration: none;
  color: rgb(237, 23, 23) ;
}